<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <description>
        spring-session配置
        https://docs.spring.io/spring-session/docs/current/reference/html5/guides/httpsession-xml.html
    </description>
    <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
        <!--session过期时间-->
        <!--<property name="maxInactiveIntervalInSeconds" value="1" />-->
    </bean>
</beans>