<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>session属性</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="">
			<div th:text="${#execInfo.templateName}">${#execInfo.templateName}</div>
			<div th:text="${#execInfo.templateMode}">${#execInfo.templateMode}</div>
			<div th:text="${#execInfo.processedTemplateName}">${#execInfo.processedTemplateName}</div>
			<div th:text="${#execInfo.processedTemplateMode}">${#execInfo.processedTemplateMode}</div>
			<div th:text="${#execInfo.templateStack}">${#execInfo.templateStack}</div>
			<h3>Session attributes:</h3>
			<div class="table-responsive">
			  <table class="table table-hover table-bordered table-striped">
			  	<tr><th>属性名</th><th>属性值</th></tr>
				  <!--
				  	thymeleaf 写法遍历展示
				  -->
				<tr th:each="key : ${#session.getAttributeNames()}">
					<td th:text="${key}"></td>
					<td th:text="${#session.getAttribute(key)}"></td>
				</tr>
				  <!--
				  	jsp 写法遍历展示
				  -->
				<!--<%-->
					<!--for (Enumeration e = session.getAttributeNames(); e-->
							<!--.hasMoreElements();) {-->
						<!--String attribName = (String) e.nextElement();-->
						<!--Object attribValue = session.getAttribute(attribName);-->
				<!--%>-->
					<!--<tr><td><%=attribName%></td><td><%=attribValue%></td></tr>-->
				<!--<%-->
					<!--}-->
				<!--%>-->
			  </table>
			</div>
		</div>
	</div>
</body>
</html>